{{ "about-block.css" |  asset_url |  stylesheet_tag }}

<div class="lab_test_doc">
  <div class="page-width">
    <div class="wrapper">
      <div class="content">
        <div class="content-inner">
          {% if section.settings.title != blank %}
            <h2 class="lab_test_doc__title">{{ section.settings.title }}</h2>
          {% endif %}
          {% if section.settings.text != blank %}
            <span class="lab_test_doc__text">{{ section.settings.text }}</span>
          {% endif %}
        </div>
        {% if section.settings.image != blank %}
          <div class="lab_test_doc__image">
            <img src="{{ section.settings.image |  image_url: width: '1000x' }}" alt="">
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Lab test doc",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Doc Image"
      }
    ],
    "presets": [
      {
        "name": "Lab test doc"
      }
    ]
  }
{% endschema %}